body {
  font-family: Arial;
  text-align: center;
}

.loading {
  font-size: 28px;
  margin-top: 50px;
}

.banner {
  background: orange;
  padding: 10px;
  font-weight: bold;
  margin: 10px;
}

.book-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 15px;
  width: 200px;
  border-radius: 10px;
}

.card-img {
  width: 100%;
}

button {
  background: green;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}